* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Urbanist', sans-serif;
}
.navig {
  display: flex;
  font-size: 1.3rem;
 justify-content: space-between;

}
.logo {
  
  font-weight:bolder;
  font-size: 2rem;
  margin-left: 6rem;
}
.links {
  display: flex;
  gap: 2rem;
  
}

header {
  border-bottom: 0.1rem solid lightgrey;
  padding-left:22rem;
  padding-right: 22rem;
  background-color: white;
}
.links li {
  list-style-type: none;
  margin-bottom: -1.2rem;
}

.links a:hover {
  color: tomato;
}

.links a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;

}

li.active {
  border-bottom: 0.4rem solid tomato;
}

.nav-item {
  padding-bottom: 1.3rem;
}


.about {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.img-container {
  
  
  width: 80rem;
  height: 50rem;
  max-width: 100%;
  position: relative;
}

#div2 {

  z-index: 2;
  position: absolute;

  top: 2rem;
  left: 38rem;


}

#div2 img {
  width: 30rem;
  height: 40rem;

}

#div4 {
  z-index: 1;
  position: absolute;
  width: 8rem;
  height: 11rem;
  top: 33rem;
  left: 36rem;
  border: 2px solid tomato;
  padding-left: 10px;
  border-radius: 5%;
}

#div5 {

  z-index: 1;
  position: absolute;
  width: 15rem;
  height: 16rem;
  left: 55rem;
  background-color: tomato;


}

.about-desc {
  display: flex;
  flex-direction: column;
  margin-left: -2rem;
  max-width: 120rem;
  gap:1rem;
  line-height: 2rem;
}

.about-desc {
 
 .title {

  margin-top: 7rem;
  font-size: 2.9rem;
  font-weight: bolder;
 }
 .subtitle {
  font-size: 1.6rem;
  color: grey;
 }
}

.icons {
  display: flex;
  gap: 1rem;
 
}

.icon {
  border: 0.1rem solid lightgrey;
  border-radius: 50%;
  color: black;

  font-weight: bold;

  z-index: 1;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  background-color: white;
}
.icon a {
  text-decoration: none;
  color: grey;
}
.icon:hover {
  box-shadow: 0px -1px 4px 1px rgb(255, 137, 116);
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: -4rem;
  font-size: 1.5rem;
  color: rgb(102, 100, 100);
  max-width: 100rem;
  
}

.info ul:nth-child(1) {
font-weight: bolder;
}
.info ul:nth-child(3) {
  font-weight: bolder;
  }

.info ul:nth-child(2) {
  margin-left: -4rem;
}
li {
  list-style-type: none;
}


  .list2 li:nth-child(3) {
   font-size: smaller;
    }
.info ul:nth-child(4) {
  margin-left: -3rem;
}

.list4 li:nth-child(2) {
  margin-left: -2rem;
}
.list4 li:nth-child(3) {
  margin-left: -3rem;
}
.list2 a {
  color: grey;
  font-weight: bold;
}
.list4 a {
  color: grey;
  font-weight: bold;
}
/* works */
.work {
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6%;
}
.navig-work {
 width: 92rem;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid lightgrey;
  margin-left: 2rem;

}
.navig-work li {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: grey;
}
.works-container {
  
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1rem;
}
.works-container img {
height: 30rem;
width: 30rem;

}

@media (max-width: 76.8rem){

  .works-container{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 40rem) {
  .works-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .navig {
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid lightgrey;
 
  }
  .navig-work {
  
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid lightgrey;
   
  
  }
  .links {
    flex-direction: column;
  }
  .about {
    grid-template-columns: 1fr;
   
  }
  .about-desc {
    margin-left: 2rem;
  }
  .img-container {
    margin-left: -22rem;
  }
  .navig-work {
    flex-direction: column;
    align-items: center;
    margin: 0 16rem;
  }
}

/*  services */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  
 

}
.lead-container img {
  display: block;
}

.galery {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 padding-left: 26rem;
 padding-right: 21rem;
 gap: 1rem;
 max-width: 130rem;
 padding-top: 1rem;
 margin-right: 7rem;
}

.container {
  position: relative;
  width: 30rem;
}


.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 1.3rem;

  margin-top: 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 13rem;
  padding-bottom: 25px;
  height: 20px;

}


.heading {
  text-transform: uppercase;
  text-align: center;
  color: lightgrey;
  padding: 10px 0px;
}

.my-services {
  color: grey;
  text-align: center;
  padding: 20px 0px;
}

.my-services a {
  text-decoration: none;
  color: black;
}
.btn-services {
  width: 12rem;
  background-color: transparent;
  border: none;
  
  
}
.btn-services a {
  text-decoration: none;
  color: grey;
  
}
.my-services a.active {
  border-bottom: 3px solid tomato;
}

@media (max-width: 80rem) {
  .galery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 72.8rem) {
  .galery {
    grid-template-columns: 1fr;
  }
}
/*contact*/
.contact {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.contact h5 {
  text-transform: uppercase;
  color: grey;
}
.btn-contact {
  width: 12rem;
  background-color: transparent;
  border: none;
  
}
.btn-contact a {
  text-decoration: none;
  color: grey;
  
}
button.active {
  border-bottom: 4px solid tomato;
}

.kartice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  padding: 0 10rem;
  gap: 5rem;
  margin-left: 7rem;
}

.kartica-container {
  display: flex;
  flex-direction: column;
  width: 27.5rem;
  


}

.kartica {
  display: flex;
  flex-direction: column;

  z-index: 0;
}

.kart-tekst {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 10rem;
  padding-top: 3rem;
  position: relative;
  border: 0.5px solid lightgrey;
  color: grey;
}
.kart-tekst a{
  font-size: small;
  color: grey;
}
.kart-tekst p {
  font-weight: bold;
  color: black;
}
.icon-contact {
  position: relative;
  border: 0.1rem solid transparent;
  border-radius: 50%;
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
  left: 39%;
  top: 5%;
  z-index: 1;
  background-color: #f86964;
  color: white;
  text-align: center;
  padding-top: 1.4rem;
}
.getintouch {
margin-left: -80rem;
text-align:left;
}
.icon-contact:hover {
  box-shadow: 0px -1px 0px 9px rgba(253,180,169,1);
}

@media (max-width: 80rem) {
  .kartice {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 68rem) {
  .kartice {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1280px) {
  .kartica-container {
    width: 24rem;
  }
  .getintouch {
    right: 33%;
  }
}

@media (max-width: 1029px) {
  .contact {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1256px) {
  .getintouch {
    margin-left: -0.9rem;
  }
}

@media (max-width: 543px) {
form {
  margin-left: 20%;
  
}
}

.forma {
  
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.3rem;
  text-align: center;
  margin-left: 7rem;
}

.forma h3 {
  text-align: left;
}

.forma button {
  margin-top: 15px;
  background-color: #f86964;
  padding: 5px 10px;
  text-transform: uppercase;
  color: white;
  border: none;
}

.forma button:hover {
  box-shadow: 0px 10px 13px -7px #000, 5px 5px 15px 5px rgba(248, 155, 155, 0);
}

textarea {
  margin-top: 10px;
  width: 100%;
  resize: none;
}

textarea,
input {
  border: 0.5px solid lightgrey;
}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
 
  box-sizing: border-box;
  border: 0.5px solid lightgrey;

}

input[type=email] {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.input-group {
  flex:1;
  display: flex;
  flex-direction: column;
  
}
@media (max-width: 80rem) {
.forma {
  flex-direction: row;
  justify-content: center;
 
 
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

.portfolio {
  color: rgb(196, 193, 193);
  text-transform: uppercase;
  text-align: center;
}

.btn-works {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
 
}
.btn-works a {
  text-decoration: none;
  color: black;

}
.btn-works:after {
  border-bottom: 3px solid tomato;
  content: '';
  display: block;
  margin-left: 25%;
  width: 50%;
}

