/* sass:scss */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
}

.root {
  display: flex;
  justify-content: center;
  width: 130rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.navigacija {
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
  align-items: center;
  font-size: 1.2rem;
  width: 90rem;
}

.navigacija li.active {
  border-bottom: 4px solid tomato;
}

.navigacija li {
  padding-bottom: 2rem;
}

.linkovi {
  display: flex;
  gap: 1rem;
}

.linkovi li {
  text-transform: uppercase;
  width: 7rem;
  text-align: center;
}

.linkovi a {
  text-decoration: none;
  color: grey;
}

.linkovi li {
  list-style-type: none;
}

.lead-border {
  border-bottom: 0.5px solid grey;
  width: 140rem;
  margin-top: -1.2rem;
}

.logo {
  font-size: 2.1rem;
  font-weight: bolder;
}

.container2 {
  width: 90rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.img-container {
  width: 40rem;
  height: 50rem;
  max-width: 100%;
  position: relative;
}

#div2 {
  z-index: 2;
  position: absolute;
  left: 10%;
  top: 5%;
}

#div2 img {
  width: 30rem;
  height: 40rem;
}

#div4 {
  z-index: 1;
  position: absolute;
  width: 8rem;
  height: 11rem;
  border: 2px solid tomato;
  padding-left: 10px;
  border-radius: 5%;
  top: 67%;
  left: 5%;
}

#div5 {
  z-index: 1;
  position: absolute;
  width: 15rem;
  height: 16rem;
  left: 55%;
  background-color: tomato;
}

@media (max-width: 479px) {
  .navigacija {
    flex-direction: column;
    align-items: center;
  }
  .linkovi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container2 {
    flex-direction: column;
    align-items: center;
  }
}
.about-desc {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  color: grey;
}

.about-desc .title {
  margin-top: 7rem;
  font-size: 2.9rem;
  font-weight: bolder;
  color: black;
}
.about-desc .subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.icons {
  display: flex;
  gap: 2rem;
}

.icon {
  border: 0.1rem solid lightgrey;
  border-radius: 50%;
  color: black;
  font-weight: bold;
  z-index: 1;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  background-color: white;
}

.icon a {
  text-decoration: none;
  color: grey;
}

.icon:hover {
  box-shadow: 2px 2px 5px 1px red;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: -4rem;
  font-size: 1.5rem;
  color: rgb(102, 100, 100);
  max-width: 100rem;
}

.info ul:nth-child(1) {
  font-weight: bolder;
}

.info ul:nth-child(3) {
  font-weight: bolder;
}

.info ul:nth-child(2) {
  margin-left: -4rem;
}

li {
  list-style-type: none;
}

.list2 li:nth-child(3) {
  font-size: smaller;
}

.info ul:nth-child(4) {
  margin-left: -3rem;
}

.list4 li:nth-child(2) {
  margin-left: -2rem;
}

.list4 li:nth-child(3) {
  margin-left: -3rem;
}

.list2 a {
  color: grey;
  font-weight: bold;
}

.list4 a {
  color: grey;
  font-weight: bold;
}

.info ul {
  line-height: 3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sayhello {
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: gray;
}

.wrapper {
  background-color: #f4f4f4;
  width: 150rem;
  height: 300rem;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kartice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90rem;
  gap: 3rem;
}

.kartica-container {
  display: flex;
  flex-direction: column;
  width: 27.5rem;
}

.kartica {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.kart-tekst {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  padding-top: 3rem;
  position: relative;
  border: 0.5px solid lightgrey;
  color: grey;
}

.kart-tekst a {
  font-size: small;
  color: grey;
}

.kart-tekst p {
  font-weight: bold;
  color: black;
}

.icon-contact {
  position: relative;
  border: 0.1rem solid transparent;
  border-radius: 50%;
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
  left: 39%;
  top: 5%;
  z-index: 1;
  background-color: #f86964;
  color: white;
  text-align: center;
  padding-top: 1.4rem;
}

.getintouch {
  margin-left: -80rem;
  text-align: left;
  margin-top: 5rem;
  color: rgb(81, 80, 80);
  font-weight: bold;
  font-size: medium;
}

.icon-contact.active {
  box-shadow: 0px -1px 0px 9px rgb(253, 180, 169);
}

.contacth1 {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.contacth1 a {
  text-decoration: none;
  color: grey;
}

.border {
  width: 3rem;
  border-bottom: 4px solid tomato;
}

.forma {
  width: 90rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.3rem;
  text-align: center;
}

.forma h3 {
  text-align: left;
}

.forma button {
  margin-top: 15px;
  background-color: #f86964;
  padding: 5px 10px;
  text-transform: uppercase;
  color: white;
  border: none;
}

.forma button:hover {
  box-shadow: 0px 10px 13px -7px #000, 5px 5px 15px 5px rgba(248, 155, 155, 0);
}

textarea {
  margin-top: 10px;
  width: 100%;
  resize: none;
}

textarea,
input {
  border: 0.5px solid lightgrey;
}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 0.5px solid lightgrey;
}

input[type=email] {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 334px) {
  .kartice {
    grid-template-columns: 1fr 1fr;
  }
  .getintouch {
    margin-left: 0;
  }
}
@media (max-width: 300px) {
  .kartice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*services*/
/*  services */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead-container img {
  display: block;
}

.galery {
  display: flex;
  gap: 3rem;
  align-items: center;
  width: 90rem;
  padding-top: 1rem;
}

.container {
  position: relative;
  width: 28rem;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 1.3rem;
  margin-top: 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 13rem;
  padding-bottom: 25px;
  height: 20px;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  color: lightgrey;
  padding: 10px 0px;
  width: 90rem;
}

.my-services {
  color: grey;
  text-align: center;
  padding: 20px 0px;
}

.my-services a {
  text-decoration: none;
  color: black;
}

.btn-services {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.btn-services a {
  text-decoration: none;
  color: black;
}

.my-services a.active {
  border-bottom: 4px solid tomato;
}

@media (max-width: 319px) {
  .galery {
    flex-direction: column;
    align-items: center;
  }
}
/*work*/
/* works */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0.01rem;
}

.work1 .p1 {
  font-weight: bolder;
  font-size: medium;
}
.work1 .p2 {
  font-size: 1.5rem;
}

.navig-work {
  width: 90rem;
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid lightgrey;
  margin-left: 2rem;
}

.navig-work li {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: grey;
  padding-bottom: 1rem;
}

.navig-work li.active {
  border-bottom: 4px solid tomato;
}
.navig-work li:hover {
  color: tomato;
  cursor: pointer;
}

.works-container {
  width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding-top: 1.7rem;
}

.works-container img {
  height: 30rem;
  width: 28.5rem;
}

.b-works {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.portfolio {
  text-align: center;
  text-transform: uppercase;
  color: lightgray;
  font-size: small;
}

@media (max-width: 76.8rem) {
  .works-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 40rem) {
  .works-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .navig {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid lightgrey;
  }
  .navig-work {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid lightgrey;
  }
  .links {
    flex-direction: column;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about-desc {
    margin-left: 2rem;
  }
  .navig-work {
    flex-direction: column;
    align-items: center;
    margin: 0 16rem;
  }
}
/* endinject *//*# sourceMappingURL=main.css.map */